/*************************************************** 
    HEADER SECTION
****************************************************/



/*************************************************** 
    MAIN SECTION
****************************************************/

#myContainer {
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    width: calc((100% / 3) - 20px);
    height: 475px;
    margin-right: 5px;
    margin-bottom: 100px;
}

.card img {
    max-height: 100%;
    padding: 5px;
    width: 100%;
}

.member-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.member-name {
    font-size: 22px;
    font-weight: bold;
}

.member-role {
    font-size: 16px;
}

/*************************************************** 
    FOOTER SECTION
****************************************************/













/*************************************************** 
    RESPONSIVE LAYOUT
****************************************************/

/********************* 
    SMALL (sm) (>576px)
**********************/
@media screen and (min-width: 576px) {

}



/********************* 
    MEDIUM (md) (>768px)
**********************/
@media screen and (min-width: 768px) {
    
}



/********************* 
    LARGE (lg) (>992px)
**********************/
@media screen and (min-width: 992px) {
    
}




/********************* 
    EXTRA LARGE (xl) (>1200px)
**********************/
@media screen and (min-width: 1200px) {
    
}




/********************* 
    EXTRA EXTRA LARGE (xxl) (>1400px)
**********************/
@media screen and (min-width: 1400px) {
    
}


